.container-fluid {
    max-width: 1500px;
}

.name{
    width: 300px;
    
    
}

.credit{
    height: 30px;
    
}

.grade{
    height: 30px;
   
}






#output{
    color: whitesmoke;
    font-size: 30px;
}

#creditSum{
    color: whitesmoke;
    font-size: 25px;
    width: 30%
}
