.name{
    width: 300px
    
}

.credit{
    height: 30px;
}

.grade{
    height: 30px;
}

.order{
    margin: 20px

    
}

#c{
    padding-left: 43%
}

#n{
   padding-left:20px
}

